{
    "swagger": "2.0",
    "info": {
        "description": "Simple exchanger software API.",
        "title": "Bitchange API",
        "termsOfService": "http://inswap.in/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://inswap.in/support",
            "email": "support@inswap.in"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "inswap.in",
    "basePath": "/",
    "paths": {
        "/api/login": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Login to platform user account",
                "operationId": "login",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Some ID",
                        "name": "Email",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Some ID",
                        "name": "Password",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unautharized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    }
}